<td>{{critter.name}}</td>
<td>{{critter.location}}</td>
<td>
  {{#if critter.time}}
    {{moment-format (concat "2020-01-01T" critter.time.start ":00:00") "h a"}} - {{moment-format (concat "2020-01-01T" critter.time.end ":00:00") "h a"}}
  {{else}}
    All Day
  {{/if}}
</td>
{{yield}}