<tr>
  <td>{{link-to critter.name "critter" critter.name}}</td>
  <td>{{critter.location}}</td>
  <td>{{format-number critterPrice}}</td>
  <td>
    {{#if critter.time}}
      {{moment-format (concat "2020-01-01T" critter.time.start ":00:00") "ha"}} {{t "time.seperator"}} {{moment-format (concat "2020-01-01T" critter.time.end ":00:00") "ha"}}
    {{else}}
      {{t "time.allDay"}}
    {{/if}}
  </td>
</tr>
{{#if expiresSoon}}
  <tr>
    <td colspan="4" class="border-top-0 pt-0 text-warning">{{fa-icon "exclamation-triangle" prefix="fas"}} {{t "critterOutSeason"}}</td>
  </tr>
{{/if}}
{{#if newCritter}}
  <tr>
    <td colspan="4" class="border-top-0 pt-0 text-info">{{fa-icon "asterisk" prefix="fas"}} {{t "critterInSeason"}}</td>
  </tr>
{{/if}}
{{yield}}
