<div class="critter-icon-container shadow {{if expiresSoon "critter-expiring"}} {{if newCritter "critter-incoming"}}">
  <div class="critter-list-icon sprite-{{critter.type}} sprite-{{critter.type}}-{{critter.name}}"></div>
</div>

<h6 class="mt-auto mb-0">{{link-to (t (concat "critterData." critter.name)) "critter" critter.name class="stretched-link"}}</h6>
<p class="mb-0">{{t (concat "location." critter.location)}}</p>
<p class="mb-0">{{format-number critterPrice}} {{t "bells"}}</p>

{{yield}}