<tr>
  <td>{{link-to critter.name "critter" critter.name}}</td>
  <td>{{critter.location}}</td>
  <td>
    {{#if critter.time}}
      {{moment-format (concat "2020-01-01T" critter.time.start ":00:00") "ha"}} - {{moment-format (concat "2020-01-01T" critter.time.end ":00:00") "ha"}}
    {{else}}
      All Day
    {{/if}}
  </td>
</tr>
{{#if expiresSoon}}
  <tr>
    <td colspan="3" class="border-top-0 text-warning">{{fa-icon "exclamation-triangle"}} This critter is not available next month!</td>
  </tr>
{{/if}}
{{yield}}