{{title "Critterpedia" separator=" | " prepend=false}}

{{head-layout}}

<div class="content">
  {{outlet}}
</div>

<footer class="footer">
  <p class="py-4 mb-0 text-center bg-ac shadow-lg">
    <span class="colour-twitter">{{fa-icon "twitter" prefix="fab"}}</span>
    <a href="https://twitter.com/findmoppler" class="text-muted font-weight-bold">{{t "twitterHandle"}}</a>
  </p>
  <div class="container-fluid bg-dark text-white mb-0 py-4 d-flex justify-content-end">
    <div class="btn-group dropup">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  data-offset="0,10">
        {{fa-icon "language" prefix="fas"}} {{t (concat "language." settings.language)}}
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item" type="button" {{action "setLanguage" "en-us"}}>{{t "language.en-us"}}</button>
        <button class="dropdown-item" type="button" {{action "setLanguage" "es"}}>{{t "language.es"}}</button>
        <button class="dropdown-item" type="button" {{action "setLanguage" "fr-FR"}}>{{t "language.fr-FR"}}</button>
      </div>
    </div>
  </div>
</footer>