{{title "Critter List"}}

{{!-- template-lint-disable table-groups --}}
<div class="container-fluid bg-light bg-ac shadow py-3">
  <div class="d-flex justify-content-between align-items-center">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-secondary {{if (eq critterType "fish") "active"}}" {{action "changeCritterType" "fish"}}>{{t "critterList.switcher.fish"}}</button>
      <button type="button" class="btn btn-secondary {{if (eq critterType "insect") "active"}}" {{action "changeCritterType" "insect"}}>{{t "critterList.switcher.insects"}}</button>
    </div>
    <div>
      <div class="btn-group" role="group">
        {{#link-to "settings" class="btn btn-outline-secondary"}} {{fa-icon "cog" prefix="fas"}} {{/link-to}}
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="my-3">
    <div class="d-flex justify-content-between align-items-end">
      <p class="mb-3">{{t "critterList.filter.heading"}}:</p>
      <div class="btn-group btn-group-sm mb-3" role="group" aria-label="...">
        <button type="button" class="btn btn-outline-secondary btn-sm {{if (eq settings.viewMode "grid") "active"}}" {{action "changeView" "grid"}}>{{fa-icon "th-large" prefix="fas"}}</button>
        <button type="button" class="btn btn-outline-secondary btn-sm {{if (eq settings.viewMode "list") "active"}}" {{action "changeView" "list"}}>{{fa-icon "stream" prefix="fas"}}</button>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col pr-1">
        <div class="btn-group d-flex" role="group">
          <button type="button" class="btn btn-outline-secondary w-100 {{if (eq critterTime "month") "active"}}" {{action "changeCritterTime" "month"}} >{{t (concat "month." currentTime.month ".long")}}</button>
          <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split {{if (eq critterTime "month") "active"}}" data-toggle="dropdown">
            <span class="sr-only">{{t "toggleDropdown"}}</span>
          </button>
          <div class="dropdown-menu">
            <button class="dropdown-item" type="button" {{action "changeMonth" "0"}}>{{t "month.0.long"}}</button>
            <button class="dropdown-item" type="button" {{action "changeMonth" "1"}}>{{t "month.1.long"}}</button>
            <button class="dropdown-item" type="button" {{action "changeMonth" "2"}}>{{t "month.2.long"}}</button>
            <button class="dropdown-item" type="button" {{action "changeMonth" "3"}}>{{t "month.3.long"}}</button>
            <button class="dropdown-item" type="button" {{action "changeMonth" "4"}}>{{t "month.4.long"}}</button>
            <button class="dropdown-item" type="button" {{action "changeMonth" "5"}}>{{t "month.5.long"}}</button>
            <button class="dropdown-item" type="button" {{action "changeMonth" "6"}}>{{t "month.6.long"}}</button>
            <button class="dropdown-item" type="button" {{action "changeMonth" "7"}}>{{t "month.7.long"}}</button>
            <button class="dropdown-item" type="button" {{action "changeMonth" "8"}}>{{t "month.8.long"}}</button>
            <button class="dropdown-item" type="button" {{action "changeMonth" "9"}}>{{t "month.9.long"}}</button>
            <button class="dropdown-item" type="button" {{action "changeMonth" "10"}}>{{t "month.10.long"}}</button>
            <button class="dropdown-item" type="button" {{action "changeMonth" "11"}}>{{t "month.11.long"}}</button>
          </div>
        </div>
      </div>
      <div class="col pl-1">
        <button type="button" class="btn btn-outline-secondary btn-block {{if (eq critterTime "now") "active"}}" {{action "changeCritterTime" "now"}}>{{t "critterList.filter.rightNow"}}</button>
      </div>
    </div>
  </div>
</div>

{{#if (eq settings.viewMode "list")}}
  <table class="table table-narrow">
    <thead>
      <tr>
        <th {{action "sortBy" "name"}} role="button">{{t "critterList.column.name"}} <span class="text-muted">{{fa-icon (if (eq sortBy "name") (if (eq sortDir "asc") "sort-up" "sort-down") "sort") prefix="fas"}}</span></th>
        <th {{action "sortBy" "location"}} class="min-w-100-px" role="button">{{t "critterList.column.location"}} <span class="text-muted">{{fa-icon (if (eq sortBy "location") (if (eq sortDir "asc") "sort-up" "sort-down") "sort") prefix="fas"}}</span></th>
        <th {{action "sortBy" "price"}} class="min-w-75-px" role="button">{{t "critterList.column.price"}} <span class="text-muted">{{fa-icon (if (eq sortBy "price") (if (eq sortDir "asc") "sort-up" "sort-down") "sort") prefix="fas"}}</span></th>
        <th {{action "sortBy" "time"}} class="min-w-100-px" role="button">{{t "critterList.column.time"}} <span class="text-muted">{{fa-icon (if (eq sortBy "time") (if (eq sortDir "asc") "sort-up" "sort-down") "sort") prefix="fas"}}</span></th>
      </tr>
    </thead>
    {{#each sortedCritters as |critter|}}
      {{critter-table-row critter=critter currentTime=currentTime hemisphere=settings.hemisphere flickPrices=settings.flickPrices}}
    {{/each}}
  </table>
{{else}}
  <div class="container-fluid px-1 overflow-hidden">
    <div class="text-center my-2">
      <p class="text-warning mb-0">{{fa-icon "exclamation-triangle" prefix="fas"}} {{t "critterOutSeason"}}</p>
      <p class="text-info mb-0">{{fa-icon "asterisk" prefix="fas"}} {{t "critterInSeason"}}</p>
    </div>
    <div class="row narrow-gutters">
      {{#each sortedCritters as |critter|}}
        {{critter-grid-item critter=critter currentTime=currentTime hemisphere=settings.hemisphere flickPrices=settings.flickPrices}}
      {{/each}}
    </div>
  </div>
{{/if}}

{{outlet}}
