{{title "Settings"}}

<div class="container-fluid bg-light bg-ac shadow py-3">
  <div class="d-flex align-items-center">
    {{#link-to "index" class="text-body mr-3"}} {{fa-icon "chevron-left" prefix="fas"}} {{/link-to}}
    <h1 class="page-heading mb-0">{{t "settings.heading"}}</h1>
  </div>
</div>

<div class="container-fluid mt-4">
  <div class="alert alert-info">
    <div class="d-flex align-items-center">
      {{fa-icon "info-circle" prefix="fas"}}
      <p class="mb-0 ml-2">{{t "settings.changesSavedAlert"}}</p>
    </div>
  </div>
  <form class="form">
    <div class="form-group">
      <label for="hemisphere">{{t "settings.hemisphere.label"}}</label>
      <select name="hemisphere" id="hemisphere" onchange={{action "selectHemisphere" value="target.value"}} class="form-control">
        <option value="northern" selected={{if (eq settings.hemisphere "northern") "selected"}}>{{t "settings.hemisphere.options.northern"}}</option>
        <option value="southern" selected={{if (eq settings.hemisphere "southern") "selected"}}>{{t "settings.hemisphere.options.southern"}}</option>
      </select>
    </div>

    <div class="custom-control custom-switch mb-2">
      {{input type="checkbox" class="custom-control-input" id="flickPrices" checked=settings.flickPrices}}
      <label class="custom-control-label" for="flickPrices">{{t "settings.flickPrices"}}</label>
    </div>

    <div class="custom-control custom-switch">
      {{input type="checkbox" class="custom-control-input" id="darkMode" checked=settings.darkMode}}
      <label class="custom-control-label" for="darkMode">{{t "settings.darkMode"}}</label>
    </div>

  </form>
</div>

<hr class="my-5">

<div class="container-fluid">
  <p>{{t "settings.thankYou"}}</p>
  <div class="alert alert-info">
    {{t "settings.translations" htmlSafe=true}}
  </div>
  {{!-- template-lint-disable no-bare-strings --}}
  <ul class="list-unstyled pb-3">
    <li>{{t "language.es"}} - <a href="https://twitter.com/Mespeth_" target="_blank" rel="noopener">@Mespeth_</a></li>
    <li>{{t "language.fr-FR"}} - <a href="https://github.com/Ekaekale" target="_blank" rel="noopener">Ekaekale</a></li>
  </ul>
</div>

{{outlet}}